
        body{
            background-color: rgb(206, 207, 115);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(8, 8, 194);
            background-color: rgb(177, 179, 108);
        }
        h2{
            color: rgb(202, 130, 47);
            background-color: rgb(200, 209, 117);
        }
        
        p {
            text-align: justify;
        }
